{% extends '../layouts/layout.html' %}
{% block content %}
	<section class="module">
	    <div class="container">
			<div class="row">
				<h4 class="font-alt mb-0">Organizations</h4>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th></th>
							<th>Company Name/Alias</th>
							<th>Email</th>							
						</tr>
					</thead>
					<tbody>
						{% for organization in organizations %}
							<tr>
								<th scope="row"><input type="checkbox"/></th>				
								<td>{{organization.companyName}}</td>
								<td><a href="/organization/{{organization.id}}/edit"> {{organization.user.email}}</a></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<a href="/organization/new" class="btn btn-round btn-d">Add new</a>
			</div>
		</div>
	</section>
{% endblock %}
