<div class="question_group">
	<a class="delete_question" href="#">x</a>
	<div class="form-group">
	  <input type="text" class="form-control question" placeholder="question"/>               
	</div>
	<div class="form-group">
	  <select class="form-control type">
	    <option value="one_choice">One choice</option>
	    <option value="multiple_choices">Multiple choices</option>
	    <option value="date">Date</option>
	  </select>            
	</div>
	<div class="form-group">
	  <a class="add_question_response">Add response</a>       
	</div>
</div>