{% extends '../layouts/layout.html' %}
{% block content %}
<section class="module">
  <form id="survey" action="{{action}}" method="post" role="form" novalidate="">
    <div class="container">
      <div class="row">   
        <div class="col-sm-6 col-sm-offset-3">
            <h1 class="font-alt">Survey</h1>            
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">          
            <input type="hidden" name="_csrf" value="{{ csrf_token }}">
            <div class="form-group">
              <label class="sr-only" for="cname">Title</label>
              <input type="text" class="form-control" name="title" placeholder="Survey Title" value="{{ survey.title }}"/> 
              <p class="help-block text-danger">{{ errors.title.message }}</p>   
            </div>
            <div class="form-group">
              <select class="form-control" name="type">       
                <option value="" >Survey Type</option>    
                {% for type in survey.getSurveyTypes() %}
                   <option value="{{type}}" {% if survey.type == type %} selected {% endif %}>{{type}}</option>
                {% endfor %}
                </select>
              <p class="help-block text-danger">{{ errors.type.message }}</p> 
            </div>

            {% if survey.type == 'Employee Survey' %}
              <div class="form-group">
                <select class="form-control" name="relatedSurvey">       
                  <option value="" >related Survey</option>    
                  {% for manager_survey in manager_surveys %}
                     <option value="{{manager_survey.id}}" {% if survey.relatedSurvey == manager_survey.id %} selected {% endif %}>{{manager_survey.title}}</option>
                  {% endfor %}
                  </select>
                <p class="help-block text-danger">{{ errors.relatedSurvey.message }}</p> 
              </div>
            {% endif %}

            {% for question in survey.questions %}
              {% if ! question.genericParent %} <!-- created from generic question -->
                {% set index = loop.index0 %}
                {% set error_index = 'questions.0.question' %}
                <div class="question_group">
                  {% if !(survey.confirmed)%}
                    <a class="delete_question" href="#">x</a>
                  {% endif %}
                  <div class="form-group">
                    <input type="text" class="form-control question"  value="{{ question.question }}" name="questions[{{index}}][question]" />      
                    <p class="help-block text-danger">
                      {% if errors["questions."+index+".question"] %}  
                        {{ errors["questions."+index+".question"].message }} 
                      {% endif %}
                    </p>          
                  </div>
                  <div class="form-group">
                    <select type="text" class="form-control type"  name="questions[{{index}}][type]">
                      <option value="unique_choice" {% if question.type == "unique_choice" %} selected {% endif %}>Unique choice</option>
                      <option value="multiple_choices" {% if question.type == "multiple_choices" %} selected {% endif %}>Multiple choices</option>
                      <option value="items_multiple_choices" {% if question.type == "items_multiple_choices" %} selected {% endif %}>Items Multiple choices</option>
                      <option value="items_multiple_choices_2" {% if question.type == "items_multiple_choices_2" %} selected {% endif %}>Items Multiple choices (no signature, fund)</option>
                      <option value="slider" {% if question.type == "slider" %} selected {% endif %}>Slider</option>
                      <option value="rank" {% if question.type == "rank" %} selected {% endif %}>Rank</option>
                      <option value="items_rank" {% if question.type == "items_rank" %} selected {% endif %}>Items Rank</option>
                      <option value="bin_sort" {% if question.type == "bin_sort" %} selected {% endif %}>Bin Sort</option>
                      <option value="department" {% if question.type == "department" %} selected {% endif %}>Department</option>
                      <option value="department_response" {% if question.type == "department_response" %} selected {% endif %}>Department Response</option>
                    </select>            
                  </div>
                  
                    {% for response in question.responses %}
                      <div class="form-group response_div">
                      {% if !(survey.confirmed) and question.type !== "bin_sort" and question.type !== "slider" %}
                        <a class="delete_response" href="#">x</a> 
                      {% endif %}
                        <input type="text" class="form-control response" placeholder="response" value="{{response.response}}" name="questions[{{index}}][responses][{{loop.index0}}][response]" />  
                      </div>
                    {% endfor %} 
                    {% if question.type == "unique_choice" or question.type == "multiple_choices" or question.type == "rank" or question.type == "department_responses"%}
                      <div class="form-group">
                        <a class="add_question_response" href="#">Add response</a>       
                      </div>
                    {% endif %}             
                                   
                </div>   
              {% endif %}                                                
            {% endfor %}      
            {% if !(survey.confirmed)%}
              <div class="questions">  </div>
              <a id="add_survey_question" href="#">Add question</a>
            {% endif %}
              <div class="checkbox">
                <label>
               <input type="checkbox" value="confirmed" id="confirmed" name="confirmed" {% if survey.confirmed %} checked="true" {% endif %}> Confirm and send notification (can't be updated later)
                </label>
              </div>
            {% if !(survey.confirmed)%}
              <div class="text-center">
                <button type="submit" class="btn btn-round btn-d">Submit</button>
                {% if !(survey.isNew)%}
                  <button type="submit" class="btn btn-round btn-danger delete">Delete</button>
                {% endif %}    
              </div>
            {% else %}  
              <div class="text-center">
                <button class="btn btn-block btn-round btn-d" disabled>Survey confirmed, can't be updated</button>
              </div>              
            {% endif %}
        </div>
      </div>
    </div>
  </form> 
</section>  
{% endblock %}
