{% extends '../layouts/layout.html' %}
{% block content %}
	<section class="module">
	    <div class="container">
			<div class="row">
				<h4 class="font-alt mb-0">Surveys</h4>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Survey Title</th>
							<th>Survey Type</th>
							{% if (req.user.hasRole('Site_Admin') ) %}	
								<th>Subcription Level</th>
							{% endif %}
							{% if (req.user.hasRole('Customer_Admin') ) %}
								<th>Date Sent</th>
								<th>Date closed</th>					
							{% endif %}															
						</tr>
					</thead>
					<tbody>
						{% for survey in surveys %}
							<tr>			
								<td><a href="/survey/{{survey.id}}/edit">{{survey.title}}</a></td>
								<td>{{ survey.type }}</td>
								{% if (req.user.hasRole('Site_Admin') ) %}	
									<td>Level {{ survey.subscriptionLevel }}</td>
								{% endif %}
								{% if (req.user.hasRole('Customer_Admin') ) %}									
									<td>{% if survey.dateSent %}{{survey.dateSent|date('m/d/Y') }}{% endif %}</td>
									<td>{% if survey.dateClosed %}{{survey.dateClosed|date('m/d/Y') }}{% endif %}</td>
								{% endif %}
							</tr>
						{% endfor %}
					</tbody>
				</table>
				{% if (req.user.hasRole('Site_Admin') ) %}	
					<a href="/survey/new" class="btn btn-round btn-d">New Survey</a>	
				{% endif %}		
				<a href="/survey/manager/new" class="btn btn-round btn-d">New manager survey from template</a>	
				<a href="/survey/employee/new" class="btn btn-round btn-d">New employee survey from template</a>		
			</div>
		</div>
	</section>
{% endblock %}
