{% extends '../layouts/layout.html' %}
{% block content %}
	<section class="module">
	    <div class="container">
			<div class="row">
				<h4 class="font-alt mb-0">Surveys</h4>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Survey Title</th>
							<th>status</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for survey in surveys %}
							<tr>
								<td>{{survey.title}}</td>
								<td>status</td>
								<td><a href="/surveys/{{survey.id}}/takesurvey/0">Take survey</a></td>						
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</section>
{% endblock %}
