{% extends '../layouts/layout.html' %}
{% block content %}
<section class="module">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt">{{ survey.type }} : {{ survey.title }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <form id="survey" action="/surveys/{{survey.id}}/takesurvey/{{step}}" method="post" role="form" novalidate="">
          <input type="hidden" name="_csrf" value="{{ csrf_token }}">
          <input type="hidden" value="{{survey.id}}" name="survey">
          <input type="hidden" value="{{step}}" name="step">
          <input type="hidden" value="{{question.id}}" name="question">
                <h3>{{ question.question }}</h3>
                {% if question.type == 'unique_choice' %}                  
                  {% for response in question.responses %}
                      <p>
                        <input type="radio" value="{{response.id}}" name="response" 
                        {% if result == response.id %} checked {% endif %}/> {{ response.response }} 
                      </p>
                  {% endfor %}
                {% endif %} 
                {% if question.type == 'multiple_choices' %}
                  {% for response in question.responses %}
                      <p> <input type="checkbox" value="{{response.id}}" name="response"
                      {% if result && (result.indexOf(response.id) > -1) %} checked {% endif %}>  {{ response.response }} </p>
                  {% endfor %}
                {% endif %}

                {% if question.type == 'slider' %}    
                    <p>
                      <label id="range">Range: </label>
                    </p>                
                      <div id="slider"></div>                 
                {% endif %}

                {% if question.type == 'card_sort' %}
                  <ul id="sortable">
                      {% if result %}            
                        {% for key in Object.keys(result["0"]) %}
                          <li class="ui-state-default">
                          <input type="hidden" value="{{ key }}" name="response[{{ key }}]">
                          <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                          {% for response in question.responses %}
                            {% if response.id == key %}
                              {{ response.response }}
                            {% endif %}
                          {% endfor %}  
                          </li>
                        {% endfor %}   
                      {% else %}
                        {% for response in question.responses %}
                            <li class="ui-state-default">
                            <input type="hidden" value="{{ response.id }}" name="response[{{ response.id }}]">
                            <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                            {{ response.response }}
                            </li>
                        {% endfor %}  
                      {% endif %}                 
                  </ul>
                {% endif %}                        
            <div class="text-center" style="padding: 20px;">             
              {% if step > 0 %}
                <a href="/surveys/{{survey.id}}/takesurvey/{{step -1}}" class="btn btn-round btn-d"> < Back</a>
              {% endif %}  
                <button type="submit" class="btn btn-round btn-d">Next > </button>
            </div>
          </form>          
        </div>
      </div>
    </div>
  </section>  
{% endblock %}

{% block script %}
<script type="text/javascript">
    if(typeof slider !== 'undefined'){
 $( "#slider" ).slider({
      range: true,
      min: 0,
      max: 500,
      values: [ 75, 300 ],
      slide: function( event, ui ) {
        $( "#range" ).html( "Range : " + ui.values[ 0 ] + " - " + ui.values[ 1 ] );
      }
    });
    }
</script>
{% endblock %}

