<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">{{label}}</h4>
</div>        
<div class="modal-body">              
  <form action="{{action}}" method="post" role="form" novalidate="" id="modal_form">
    <input type="hidden" name="_csrf" value="{{ csrf_token }}">
            <div class="form-group">
              <label>Department Name</label>
              <input type="text" class="form-control" name="departmentName" placeholder="Department name" value="{{ department.departmentName }}"/>                
              <p class="help-block text-danger">{{ errors.departmentName.message }}</p>        
            </div>
            <div class="form-group">
              <label>Leader email</label>
              <input type="text" class="form-control" name="manager_email" placeholder="Leader email" value="{{ department.manager_email }}"/>      
              <p class="help-block text-danger">{{ errors.manager_email.message }}</p>           
            </div>   
            <div class="form-group">
              <label>Team members</label>
              <input type="text" class="form-control" name="teamMembers" placeholder="Team members" value="{{ department.teamMembers }}"/>                
              <p class="help-block text-danger">{{ errors.teamMembers.message }}</p>            
            </div>
            <div class="form-group">
              <label>Location</label>
              <input id="autocomplete" type="text" class="form-control" name="location" placeholder="Location" value="{{ department.location }}" onFocus="geolocate()"/>                
              <p class="help-block text-danger">{{ errors.location.message }}</p>            
            </div>
  </form>
</div>
<div class="modal-footer">
  {% if notNew %}
    <button type="button" class="btn btn-round btn-danger delete-record">Delete</button>
  {% endif %}  
  <button type="button" class="btn btn-round btn-d" data-dismiss="modal">Close</button>
  <button type="button" class="btn btn-round btn-d modal-save">Save</button>
</div>

