{% extends '../layouts/layout.html' %}
{% block content %}
	<section class="module">
	    <div class="container">
			<div class="row">
				<h4 class="font-alt mb-0">{{ req.user.getOrganizationName() }} Organization departments :</h4>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th></th>
							<th>Dept Name</th>
							<th>Leader's email</th>
							<th># Team Members</th>
							<th>Location</th>
						</tr>
					</thead>
					<tbody>
						{% for department in departments %}
							<tr>
								<th scope="row"><input type="checkbox"/></th>								
								<td><a href="/department/{{department.id}}/edit">{{department.departmentName}}</a></td>
								<td>{{department.owner.email}}</td>
								<td>{{department.teamMembers}}</td>
								<td>{{department.location}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<a href="/department/new" class="btn btn-round btn-d">New department</a>
			</div>
		</div>
	</section>
{% endblock %}  
