{% extends '../layouts/layout.html' %}
{% block content %}
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=false&libraries=places"></script>
	<section class="module">
	    <div class="container">
			<div class="row">
				<h4 class="font-alt mb-0">{{ req.user.getOrganizationName() }} Organization departments :</h4>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Dept Name</th>
							<th>Leader's email</th>
							<th># Team Members</th>
							<th>Location</th>
						</tr>
					</thead>
					<tbody>
						{% for department in departments %}
							<tr>
							<td><a class="open-modal" data-url="/department/{{department.id}}/edit" href="#">{{department.departmentName}}</a></td>				
								<td>{{department.manager_email}}</td>
								<td>{{department.teamMembers}}</td>
								<td>{{department.location}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<button class="btn btn-round btn-d open-modal" data-url="/department/new"> Add new department </button>
			</div>
		</div>
	</section>

<script>
var autocomplete
function initialize() {
  autocomplete = new google.maps.places.Autocomplete((document.getElementById('autocomplete')), { })
}
function geolocate() {}
</script>

{% endblock %}  
