{% extends '../layouts/layout.html' %}
{% block head %} 
  <script src="/js/vis.min.js"></script>
  <link rel="stylesheet" href="/css/vis.min.css">
   <style type="text/css">
     #mynetwork {      
      height: 500px;      
    }
  </style>
{% endblock%}
{% block content %}
	<section class="module">
	    <div class="container">
			<div class="row" style="margin-bottom: 8px;">
				 <button class="btn btn-round btn-d open-modal" data-url="/team_member/new"> Add new member </button>
					<div class="pull-right">
						<a href="/team_members" data-toggle="tooltip" data-placement="top" title="Grid"> <span aria-hidden="true" class="icon-grid"></span> </a>  
						<a href="#" data-toggle="tooltip" data-placement="top" title="Graph"> 
						<span aria-hidden="true" class="icon-linegraph"></span> </a>
					</div>
			</div>
		</div>
		<div class="container" id="mynetwork"> </div>
	</section>	
	<script type="text/javascript">
	  var container = document.getElementById('mynetwork');
	  var nodes = new vis.DataSet({{JSON.stringify(nodes)}});
	  
	  var data = {
	    nodes: nodes
	  };
	  var options = {
	    "interaction": {
	      "dragNodes": false,
	      "dragView": false,
	      "selectable": false,
	      "zoomView": false
	    }
	  }
	  var network = new vis.Network(container, data, options);
	</script>	
{% endblock %}  
