{% extends '../layouts/layout.html' %}
{% block content %}
	<section class="module">
	    <div class="container">
			<div class="row" style="margin-bottom: 8px;">
				 <button class="btn btn-round btn-d open-modal" data-url="/team_member/new"> Add new member </button>
					<div class="pull-right">
						<a href="#" data-toggle="tooltip" data-placement="top" title="Grid"> <span aria-hidden="true" class="icon-grid"></span> </a>  
						<a href="/team_members/graph" data-toggle="tooltip" data-placement="top" title="Graph"> 
						<span aria-hidden="true" class="icon-linegraph"></span> </a>
					</div>
			</div>
			<div class="row">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th rowspan=2>Dept Name</th>
							<th rowspan=2>Email</th>
							<th colspan=2># Team Members</th>
							<th rowspan=2>Location</th>
						</tr>
            			<tr>							
							<th>First Name</th>
							<th>Last Name</th>							
						</tr>
					</thead>
					<tbody>
						{% for team_member in team_members %}
							<tr>
								<td>{{team_member.department.departmentName}}</td>			
								<td><a class="open-modal" data-url="/team_member/{{team_member.id}}/edit" href="#">{{team_member.email}}</a>
								</td>
								<td>{{team_member.firstName}}</td>
								<td>{{team_member.lastName}}</td>
								<td>{{team_member.location}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>			
		</div>
	</section>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=false&libraries=places"></script>
	<script>
var autocomplete
function initialize() {
  autocomplete = new google.maps.places.Autocomplete((document.getElementById('autocomplete')), { })
}
function geolocate() {}
</script>	
{% endblock %}  
