{% extends '../layouts/layout.html' %}
{% block content %}
	<section class="module">
	    <div class="container">
			<div class="row">
				<h4 class="font-alt mb-0">Users</h4>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Email</th>
							<th>Organization</th>
							<th>Department</th>
							<th>Role</th>	
						</tr>
					</thead>
					<tbody>
						{% for user in users %}
							<tr>
								<td>
									<a class="open-modal" data-url="/admin/users/{{user.id}}/edit" href="#">{{user.email}}</a>
								</td>								
								<td> {{user.organization.organization_name}} </td>
								<td> {{user.department.departmentName}} </td>
								<td> {{user.role}} </td>
							</tr>
						{% endfor %}
					</tbody>
				</table>	
				<button class="btn btn-round btn-d open-modal" data-url="/admin/users/new"> Add new user </button>	
			</div>
		</div>
	</section>
{% endblock %}
