{% extends '../layouts/layout.html' %}
{% block content %}
  <section class="module">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt">Edit profile</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <form action="/users/update" method="post" role="form" novalidate="">
          <input type="hidden" name="_csrf" value="{{ csrf_token }}">
            <div class="form-group">
              <label class="sr-only" for="cname">First Name</label>
              <input type="text" class="form-control" name="firstName" placeholder="First Name" value="{{ user.firstName }}"/>
            </div>
            <div class="form-group">
              <label class="sr-only" for="cname">Last Name</label>
              <input type="text" class="form-control" name="lastName" placeholder="Last Name" value="{{ user.lastName }}"/>
            </div>
            <div class="form-group">
              <label class="sr-only" for="cname">Email</label>
              <input type="text" class="form-control" name="email" placeholder="Email" value="{{ user.email }}"/> 
              <p class="help-block text-danger">{{ errors.email.message }}</p>             
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-round btn-d">Save</button>
              <a href="/"           class="btn btn-round btn-d">Cancel</a>
            </div>
          </form>          
        </div>
      </div>
    </div>
  </section>  
{% endblock %}
