{% extends '../layouts/layout.html' %}
{% block content %}
  <section class="module">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt">Reset password</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          {% if (message) %}
            <div role="alert" class="alert alert-danger">
              <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
               <strong>Alert!</strong> {{ message }}
            </div>
           {% endif %}
          <form action="/reset/{{token}}" method="post" role="form" novalidate="">
          <input type="hidden" name="_csrf" value="{{ csrf_token }}">
            <div class="form-group">
              <label class="sr-only" for="cname">Password</label>
              <input type="password" class="form-control" name="password" placeholder="password"/>
            </div>
            <div class="form-group">
              <label class="sr-only" for="cname">Password confirmation</label>
              <input type="password" class="form-control" name="password_confirmation" placeholder="password confirmation"/>
            </div>            
            <div class="text-center">
              <button type="submit" class="btn btn-round btn-d">Reset password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>  
{% endblock %}

