{% extends '../layouts/layout.html' %}
{% block content %}
	<section class="module">
	    <div class="container">
			<div class="row">
				<h4 class="font-alt mb-0">Organization</h4>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th></th>
							<th>Dept Name</th>
							<th>Leader's email</th>
							<th># Team Members</th>
							<th>Location</th>
						</tr>
					</thead>
					<tbody>
						{% for organization in organizations %}
							<tr>
								<th scope="row"><input type="checkbox"/></th>								
								<td><a href="/organization/{{organization.id}}/edit">{{organization.departmentName}}</a></td>
								<td>{{organization.leaderEmail}}</td>
								<td>{{organization.teamMembers}}</td>
								<td>{{organization.location}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<a href="/organization/new" class="btn btn-round btn-d">Add new</a>
			</div>
		</div>
	</section>
{% endblock %}  
