{% extends '../layouts/layout.html' %}
{% block head %} 
  <script src="/js/vis.min.js"></script>
  <link rel="stylesheet" href="/css/vis.min.css">
   <style type="text/css">
     #mynetwork {      
      height: 500px;      
    }
  </style>
{% endblock%}

{% block content %}
<section class="module">
  <form action="/" method="post" role="form" novalidate="">
          <div class="row">
        <div class="col-sm-3 col-sm-offset-3">  
            <div class="form-group">
              <select class="form-control" name="type">  
                {% for survey in surveys %}     
                  <option value={{survey.id}} >{{ survey.title }}</option>
                {% endfor %}         
              </select>
            </div>
            </div>
            <div class="col-sm-3">  
            <div class="form-group">
              <select class="form-control" name="type">       
                {% for item in items %}     
                  <option value={{item}} >{{ item }}</option>
                {% endfor %}                
                </select>
            </div>            
            </div>
            </div>
  </form>
  <div class="container" id="mynetwork"> </div>
</section>
<script type="text/javascript">
  var container = document.getElementById('mynetwork');
  var nodes = new vis.DataSet({{JSON.stringify(nodes)}});
  var edges = new vis.DataSet({{JSON.stringify(edges)}});

  
  var data = {
    nodes: nodes,
    edges: edges
  };
  var options = {
  "interaction": {
    "dragNodes": true,
    "dragView": false,
    "selectable": false,
    "zoomView": false
  }, nodes: {
          shape: 'dot'
        }
}
  var network = new vis.Network(container, data, options);
</script>
{% endblock%}


