<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">{{label}}</h4>
</div>        
<div class="modal-body">              
  <form action="{{action}}" method="post" role="form" novalidate="" id="modal_form">
    <input type="hidden" name="_csrf" value="{{ csrf_token }}">
    <div class="form-group">
      <label>Company/Name</label>
      <input type="text" class="form-control" name="organization_name" placeholder="Company Name/Alias" value="{{ organization.organization_name }}"/>               
      <p class="help-block text-danger">{{ errors.organization_name.message }}</p>     
    </div>
    <div class="form-group">
      <label>Admin Emails, up to 3 comma separated emails</label>
      <input type="text" class="form-control" name="admin_emails" placeholder="Admins Emails" value="{{ organization.admin_emails }}"/> 
      <p class="help-block text-danger">{{ errors.admin_emails.message }}</p>        
    </div>
  </form>
</div>
<div class="modal-footer">
  {% if notNew %}
    <button type="button" class="btn btn-round btn-danger delete-record">Delete</button>
  {% endif %}  
  <button type="button" class="btn btn-round btn-d" data-dismiss="modal">Close</button>
  <button type="button" class="btn btn-round btn-d modal-save">Save</button>
</div>