{% extends '../layouts/layout.html' %}
{% block content %}
<section class="module">
    <div class="container">
		<div class="row">
			<h4 class="font-alt mb-0">Organizations</h4>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Company Name/Alias</th>
						<th>Email</th>	
						<th>Subcription Level</th>												
					</tr>
				</thead>
				<tbody>
					{% for organization in organizations %}
						<tr>						
							<td><a class="open-modal" data-url="/organization/{{organization.id}}/edit" href="#">{{organization.organization_name}}</a></td>
							<td> {{organization.admin_emails}}</td>
							<td>Level {{ organization.subscriptionLevel }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<button class="btn btn-round btn-d open-modal" data-url="/organization/new"> Add new organization </button>
		</div>
	</div>
</section>
{% endblock %}
