<!DOCTYPE html>
<html lang="en">
<head>
<style type="text/css">.gm-style .gm-style-mtc label,.gm-style .gm-style-mtc div{font-weight:400}</style>
<link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
<style type="text/css">.gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px}</style>
<style type="text/css">@media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}</style>
<style type="text/css">.gm-style{font-family:Roboto,Arial,sans-serif;font-size:11px;font-weight:400;text-decoration:none}</style>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="" name="description">
	<meta content="" name="author">	
	<title>S[HR]EWD</title>	
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/et-line-font.css">
	<link href="//cdnjs.cloudflare.com/ajax/libs/flexslider/2.3.0/flexslider-min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/animate.css">	
	<link rel="stylesheet" href="/css/style.css">	
</head>
<body>
	<nav role="navigation" class="navbar navbar-custom navbar-fixed-top one-page">
		<div class="container">	
			<div class="navbar-header">
				<button data-target="#custom-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/" class="navbar-brand">S[HR]EWD</a>
			</div>	
			<div id="custom-collapse" class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">	
					<li><a href="#totop">Intro</a></li>
					<li><a class="section-scroll" href="#product">Product</a></li>
					<li><a class="section-scroll" href="#pricing">Pricing</a></li>
					<li><a class="section-scroll" href="#about">About</a></li>
					<li>
						<a> </a>
					</li>
					<li><a class="section-scroll" href="/signup">Sign up</a></li>
					<li><a class="section-scroll" href="/login">Login</a></li>
				</ul>
			</div>	
		</div>
	</nav>
	<section data-background="/img/section-12.jpg" class="home-section home-full-height bg-dark-30" id="home" style="background-image: url(/img/section-12.jpg);">
		<div class="hs-caption">
			<div class="caption-content">
				<div class="hs-title-size-4 font-alt mb-40">
					Ignite your people operations <br> with Galileo&#8482;
				</div>
			</div>
		</div>
	</section>
	<div class="main">
	<section id="product" class="module bg-dark-60 pt-0 pb-0" data-background="/img/section-7.jpg">
			<div class="testimonials-slider pt-140 pb-140">
				<ul class="slides">
					<li>
						<div class="container">
							<div class="row">
								<div class="col-sm-12">
									<div class="module-icon">
										<span class="icon-quote"></span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-8 col-sm-offset-2">
									<h2 class="module-title font-alt mb-0">
									Shrewd Galileo platform provides the only science-based analytics tool you will ever need for</h2>
									<h3>- Company culture <br>
									- Operational synergy <br>
									- Employee engagement </h3>
									<h3>Use the 'right-data' for your strategic decisioning. </h3>				
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="container">
							<div class="row">
								<div class="col-sm-12">
									<div class="module-icon">
										<span class="icon-quote"></span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-8 col-sm-offset-2">
									<h2 class="module-title font-alt mb-0">
									Company culture <br>
									Because culture eats strategy, Galileo starts with targeted culture assessment</h2>
									<h3>- Between teams <br>
									- Within teams <br>
									- Organization-wide </h3>
									<h3>Teams can be defined flexibly based on function, geography, or product (in matrix organizations).</h3>				
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="container">
							<div class="row">
								<div class="col-sm-12">
									<div class="module-icon">
										<span class="icon-quote"></span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-8 col-sm-offset-2">
									<h2 class="module-title font-alt mb-0">
									Operational synergy <br>
									Measure the levels of synergy in your operations</h2>
									<h3>- Help your teams harness positive synergy<br>
									- Quickly conduct root cause analysis <br>
									- Share unbiased frontline insights with leadership<br>
									- Proactively plan resources for highest impact </h3>
									<h3>Gain an unprecedented view of your operations which will defy everything you have learned in business school and build lasting competitive advantage</h3>				
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="container">
							<div class="row">
								<div class="col-sm-12">
									<div class="module-icon">
										<span class="icon-quote"></span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-8 col-sm-offset-2">
									<h2 class="module-title font-alt mb-0">
									Employee Engagement <br>
									Most people we have talked to are engaged in their organization because of the nature of work they do, both as individual contributors and as team players</h2>
									<h3>- Understand the employer side of engagement equation<br>
									- Target employee engagement resources to high impact areas<br>
									- Energize people’s passions and work contrbutions with incentives that matter the most to their worklife<br>
									- Overcome the short-lived halo effects of stock value, happiness metrics, or one-sided interventions</h3>
									<h3>Make employee engagement a way of life not a one-time or once-a-year goal</h3>	
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</section>
		<section id="pricing" class="module">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
						<h2 class="module-title font-alt">Pricing</h2>
						<div class="module-subtitle font-serif large-text">
							Galileo was designed as an organizational science tool rather than as a pure data analytics tool. By putting the organizational science (horse) before the data (cart), Galileo only uses data that - is needed, and no more. This means <br>
							- Galileo generates right-data rather than big-data<br>
							- No reliance on legacy data systems<br>
							- On-demand access anywhere and everywhere<br>
							- Fast, dynamic insights at the speed of business<br>
							Our product pricing reflects this philosophy. We use a Software-as-a-service delivery model to make our pricing affordable and recommend one of our tailored offerings for your unique situation.
							<br>
							Request a demo or contact us to see how our solution can meet your need!
						</div>
					</div>
				</div>
			</div>
		</section>		
		<section id="about" class="module">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
						<h2 class="module-title font-alt">About</h2>
						<div class="module-subtitle font-serif large-text">
							Shrewd was born out of the strong desire of its founders to bring a new level of scientific rigor to organizations and people operations that relies neither simply on big-data nor simply on
							un-actionable organization development models, but rooted in the ‘right kind of data’ that accounts for the competencies and
							needs of today’s workforce as well as the fast changing realities of business. <br>
							We strongly believe that each organization is unique in its own marketplace/industry in the current time and requires a unique model that is tailored to its situation based on real data to maintain its competitive edge.
						</div>
					</div>
				</div>
			</div>
		</section>
		<hr class="divider-d">
		<footer class="footer bg-dark">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<p class="copyright font-alt">&copy; 2015 <a href="index.html">S[HR]EWD</a>, All Rights Reserved.</p>
					</div>
					<div class="col-sm-6">
						<div class="footer-social-links">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-dribbble"></i></a>
							<a href="#"><i class="fa fa-skype"></i></a>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="/js/jquery.flexslider-min.js"></script>
	<script src="/js/wow.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/custom.js"></script>
	</body>
</html>